.head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(150, 149, 149);
}
.head button {
    width: 80px;
    height: 80px;
    margin: 50px;
    color: #000000;
    border-style: double;
    border-color: #000000;
    background-color: #ffffff;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: -27px 19px 38px 14px rgb(187, 187, 187);
    border-radius: 15px;
    
    
}

.head h1 {
    text-align: center;
    align-items: center;
    color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(92, 92, 92), 0 0 5px rgb(104, 106, 106);;
}